node_modules/
.env
.vscode/settings.json
credentials.json
token.json
photoPosters.json
backend/credentials.json
backend/token.json
backend/info-screen-slides.json
backend/invoice-data.json
backend/latex/invoice/invoice-temp.*
backend/latex/invoice/pdf
frontend/dist/
frontend/dist-secret/
frontend/wiki-cache/
frontend/stats.json
frontend/faq-cache/
