@blue-1: #325db5;
@blue-2: #52a3d1;
@blue-3: #2c3f8c;
@blue-4: #1c2a6e;
@yellow: #fbd80a;
@skin: #ffd9b5;
@cyan: #acf7fb;
@red: #fe6054;
@black: #161616;
@white: #f1f1f1;
@light-gray: #e4e4e4;

@megaman-blue: #265ed7;
@protoman-red: #e8010b;

@vasttrafik-bg: #1e242a;

@width: 768px;

:root,
:root[data-theme="light"] {
    --background-color: white;
    --text-color: @black;
    --text-color-faint: #595959;
    --component-color: @white;
    --component-accent-color: @light-gray;
    --component-accent-hover-color: #d3d3d3;
    --component-accent-active-color: #a9a9a9;
    --title-bg-color: @black;
    --accent-color: @blue-2;
    --card-color: transparent;
    --card-active-color: lightgreen;
    --card-passed-color: lightcoral;
}
:root[data-theme="dark"] {
    --background-color: #1b1b1b;
    --text-color: @white;
    --text-color-faint: @light-gray;
    --component-color: #131313;
    --component-accent-color: #1f1f1f;
    --component-accent-hover-color: #353535;
    --component-accent-active-color: #171717;
    --title-bg-color: #222846;
    --accent-color: @blue-4;
    --card-color: #1f1f1f;
    --card-active-color: #558455;
    --card-passed-color: #9f211f;
}

html {
    background-color: var(--background-color);
}

h1,h2,h3,h4,h5,h6,p,span,div,ul,ol,li,table,tr,th,td,blockquote,pre,code,button {
    color: var(--text-color);
}

button {
    color: var(--text-color);
    background-color: var(--component-accent-color);
    border: 1px var(--text-color-faint) solid;
    border-radius: 4px;

    &:hover {
        background-color: var(--component-accent-hover-color);
    }
    &:active {
        background-color: var(--component-accent-active-color);
    }
}
