@import (css) url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');

.dvrk-page {
    transition-duration: 250ms;
    flex: 1;

    @media (max-width: 775px) {
        padding-left: 5px;
        padding-right: 5px;
    }

    @media (min-width: 775px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    font-family: 'Open Sans',
    sans-serif;
    color: #161616;
}


.dvrk-header {
    //background-image: url(https://placebear.com/1600/800);
    background-size: cover;
    background-position: center;
    font-family: 'Arimo', sans-serif;
    box-shadow: 0px -200px 48px -186px rgba(22, 22, 22, 1) inset;
    position: relative;
    height: 50vh;

    .header-text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        backdrop-filter: blur(4px);
        height: 100%;
    }

    img {
        max-height: 12em;
    }
}

.dvrk-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 20px;

    >div {
        word-wrap: break-word;
        position: relative;
        background-color: #f0f0f0;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
    }

    p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dvrk-grid-title {
        background-color: #161616;
        height: 60px;
        display: flex;
        align-items: center;

        h3 {
            margin: 0;
            margin-left: 0px;
            padding: 1em;
            color: white;
            font-family: "Press Start 2P";
            font-size: 0.8em;
        }
    }

    @media screen and (max-width: 766px) {
        grid-template-columns: 1fr;
    }
}

.bottom-pad {
    height: 2.5em;
}